.about{margin-top: 300px;
    margin-bottom: 300px;
}

.par{margin-left: auto;
margin-right: auto;}

button:hover{cursor: pointer;}
.full-screen {
    position: absolute;
    width: 100%;
    height: 100%;}
    .body{background-image: url(/src/Styles/images/softwarebackground.jpg);}

button{ background: linear-gradient( 77deg,rgb(52, 227, 210),black,gray 95%,gray,aqua,gray,aqua);
color: white;
text-decoration: solid;
border: bold;
padding: 4px;
font-size: x-large;
border-style: outset;
border-width: 10px;
font-weight: bolder ;
border-radius: 10px;
border-color: white;
box-shadow: 1px 1px rgb(198, 194, 194);}