.projects { background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .content {
    
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .site-container {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .site-pic {
    flex: 0 0 auto;
    margin-right: 30px}

    .shadow{
      border-color: aqua;
      border-width: 15px ;
      border-style: outset;
      background-color: transparent;
      box-shadow: 8px 8px rgb(86, 83, 83) ;}
  